body{
	
	background: #575555c9;
	font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: rgb(255, 255, 255);
	background-image: url(https://wallpaperaccess.com/full/851961.jpg);
	padding: 40px 20px;
	
}


.contenedor {
	width: 100%;
	max-width: 100px;
	padding: 40px 20px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tarjeta {
	width: 100%;
	max-width: 700px;
	position: relative;
	color: rgb(255, 255, 255);
	
}

.tarjeta>div {
	padding: 50px;
	border-radius: 15px;
	min-height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 10px 10px 0 rgba(250, 250, 250, 0.3);
}

.tarjeta .delantera {
	width: 100%;
	background: url(https://content.rolex.com//dam/new-watches-2021/media/wallpapers/cosmograph-daytona/m116519ln-0038_1280x768.jpg);
	background-size: cover;
}


.delantera .logo-marca {
	text-align: right;
	min-height: 50px;
}

.delantera .chip {
	width: 100%;
	max-width: 50px;
	margin-bottom: 20px;
}

.delantera .flexbox {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}